.HabitCard {
  display: flex;
  background-color: #fff;
  border-radius: 20px;
  justify-content: space-between;

  .habit__type {
    display: flex;
    align-items: center;
    padding: 0.3vh;
    margin-left: 3vw;
    font-size: clamp(2.5vh, 3vw, 2.5vh);
  }

  & > a.link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0 13px;
    color: var(--ligt-blue);
  }

  & h3 {
    font-size: clamp(1.2vh, 1.3vw, 2vh);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--lightblue);
  }

  & button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .btn--complete {
    background-color: var(--light-green);
    color: white;
    border-radius: 0;
    width: 13vw;
  }

  & .btn--edit {
    border: none;
    background-color: var(--light-yellow);
    border-radius: 0;
  }

  .btn--delete {
    background-color: var(--light-yellow);
    border-radius: 0 20px 20px 0;
  }

  .completed {
    text-decoration: line-through !important;
  }

  .btn--uncomplete {
    background-color: var(--dark-green);
    color: white;
    border-radius: 0;
    width: 13vw;
  }
}
