.HabitCardExplore {
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-shadow: rgba(198, 89, 154, 0.3) 0px 4px 12px;
  margin: 3vh 0;
  padding: 1vh 2vw;
  gap: 1vh;

  & h3 {
    color: rgba(0, 128, 41, 0.546);
    font-size: 1vw;
  }

  & button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  & .btn--edit {
    font-size: clamp(0.5vw, 1vw, 1.5vw);
    border: none;
  }

  .btn--add {
    font-size: 0.5vw;
    background-color: rgba(0, 128, 41, 0.546);
    color: white;
  }

  .habit-img__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .habit-img {
      width: 10vw;
    }
  }

  .habit__description {
    font-size: 0.9vw;
    color: grey;
  }
}
