.HabitCardExplore {
  background-color: var(--white);
  /* width: 30vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.138) 0px 4px 12px;
  padding: 1vh 2vw;
  gap: 1vh;
  border-radius: 20px;

  & h3 {
    color: var(--blue);
    font-size: clamp(1.2vh, 1.3vw, 1.5vh);
    text-wrap: balance;
  }

  & button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .btn--add {
    font-size: clamp(0.5vh, 1vw, 0.7vw);
    background-color: var(--light-green);
    color: white;
    margin-bottom: 1vw;
  }

  .btn--add:hover {
    background-color: var(--pink);
  }

  .btn--pink {
    background-color: var(--pink);
  }

  .btn--pink:hover {
    background-color: var(--light-green);
  }

  .habit__description {
    font-size: 0.9vw;
    color: var(--light-blue);
    text-wrap: balance;
  }

  .container--emoji {
    flex: 1 1 20%;
    border: 1px solid var(--gray);
    border-radius: 50%;
    width: clamp(1vh, 3vw, 3vw);
    height: 3vw;
    padding: 0.5vw;

    & span {
      font-size: clamp(0.7vh, 1.5vw, 3vw);
    }
  }

  .habit-card__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    .habit__description {
      flex: 1 1 50%;
      font-size: clamp(0.7vh, 1.5vw, 1vh);
      text-wrap: balance;
    }
  }
}
