.HabitPage {
  padding-top: 80px;

  @media (min-width: 1400px) {
    padding-top: 110px;
  }

  @media (max-width: 500px) {
    padding-bottom: 60px;
    padding-top: 56px;
  }

  @media (min-width: 2500px) {
    padding-top: 200px;
  }

  background-color: var(--light-yellow);

  .habit-page__picture {
    padding: 10vh 3vh;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
    text-align: left;

    & p {
      margin: 0;
    }
  }

  .habit-page__content {
    width: 100%;
  }

  .habit-page__title {
    text-align: center;
    font-size: clamp(4vh, 3vw, 2.5vh);
    font-family: 'LilitaOne', sans-serif;
    color: var(--gray);
  }

  .habit-page__emoji {
    background-color: var(--white);
    width: 8vw;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 3vh auto;

    @media (max-width: 500px) {
      width: 14vw;
      height: 14vw;
    }

    & span {
      font-size: 3vw;

      @media (max-width: 500px) {
        font-size: 6vw;
      }
    }
  }

  .habit-page__bottom {
    background-color: var(--blue);
    border-radius: 40px 40px 0 0;
    padding: 0.5vh;
  }

  .habit-page__info-wrapper {
    max-width: 80vw;
    border-radius: 10px;
    margin: 0 auto;

    .habit-page__category {
      margin: 2vh auto;
      text-align: center;
      font-size: clamp(2.5vh, 1.8vw, 2vh);
      font-family: 'LilitaOne', sans-serif;
      color: var(--light-blue);
    }

    .habit-page__description {
      font-size: clamp(2vh, 1vw, 1vw);
      color: var(--light-blue);
    }
  }

  .habit-page__stats-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 1vh;

    & p {
      font-size: clamp(2.5vh, 2vw, 2vh);
      font-family: 'LilitaOne', sans-serif;
    }

    .habit-page__streak {
      color: var(--white);
    }

    .habit-page__misses {
      color: var(--white);
    }
  }

  & h2 {
    font-family: 'LilitaOne', sans-serif;
  }

  .habit-page__type {
    @media (min-width: 2500px) {
      font-size: 1.5vh;
    }
  }
}
