.HabitPage {
  .habit-page__picture {
    padding: 3vh;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
    text-align: left;

    & p {
      margin: 0;
    }
  }


}