.HabitPage {
  padding-top: 80px;

  @media (min-width: 1400px) {
    padding-top: 110px;
  }

  @media (max-width: 500px) {
    padding-bottom: 60px;
    padding-top: 56px;
  }

  background-color: var(--pink);

  .habit-page__picture {
    padding: 10vh 3vh;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
    text-align: left;

    & p {
      margin: 0;
    }
  }

  .habit-page__content {
    width: 100%;
  }

  .habit-page__title {
    text-align: center;
    font-family: "LilitaOne", sans-serif;
    color: #fff;
  }

  .habit-page__emoji {
    background-color: white;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 3vh auto;

    & span {
      font-size: 35px;
    }
  }

  .habit-page__botton {
    background-color: var(--blue);
    border-radius: 40px 40px 0 0;
    padding: 5vw;
  }

  .habit-page__info-wrapper {
    max-width: 80vw;
    /* background-color: #fff; */
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;

    .habit-page__category {
      margin: 2vh auto;
      text-align: center;
      font-size: clamp(4vh, 1vw, 1vw);
      font-family: "LilitaOne", sans-serif;
      color: var(--gray);
    }

    .habit-page__description {
      font-size: clamp(2vh, 1vw, 1vw);
      color: var(--gray);
    }
  }

  .habit-page__stats-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 0 0 5vh 0;

    & p {
      font-size: clamp(5vh, 1vw, 1vw);
      font-family: "LilitaOne", sans-serif;

      @media (max-width: 500px) {
        font-size: clamp(3vh, 1vw, 1vw);
      }

    }

    .habit-page__streak {
      color: #fff;
    }

    .habit-page__misses {
      color: #fff;
    }
  }

  & h2 {
    font-family: "LilitaOne", sans-serif;
  }


}