.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 35vh;
  border: 1px solid var(--light-blue);
  min-width: 40vw;
  border-radius: 20px;
  padding: 1vh;

  .form__label {
    width: 100%;
    padding: 0;
    font-size: clamp(2vh, 1.5vw, 1vh);
    text-transform: lowercase;
    margin-top: 2vh;
    text-align: left;
  }

  .form__item {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #fff;
    padding: 1vh 2vw;
    color: var(--gray);
    font-size: clamp(2vh, 1vw, 1vw);
  }

  .btn--login {
    padding: 1vh 1.5vw;
    min-width: 20%;
  }
}
