.BookmarkCard {
  display: flex;
  background-color: #fff;
  border-radius: 20px;
  justify-content: space-between;

  .emoji__container {
    display: flex;
    align-items: center;
    padding: 0.3vh;
    margin-left: 3vw;
    font-size: clamp(2.5vh, 3vw, 2.5vh);
  }

  & h3 {
    font-size: clamp(1.5vh, 2vw, 2.5vh);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--light-blue);
    text-wrap: balance;
    max-width: 60vw;

    & span {
      color: var(--blue);
    }
  }

  .habit__buttons {
    display: flex;
    align-items: center;
  }

  .btn--complete {
    background-color: var(--light-green);
    color: var(--white);
    border-radius: 0;
    font-size: clamp(1.5vh, 2.2vw, 3.1vh);
    border: none;
    height: 100%;
    font-family: 'JosefinSans';

    @media (max-width: 500px) {
      width: 20vw;
    }
  }

  .btn--complete:hover {
    background-color: var(--dark-green);
  }

  .btn--delete {
    background-color: var(--light-yellow);
    border-radius: 0 20px 20px 0;
    color: var(--lightblue);
    margin: 0;
    height: 100%;
  }
}

.BookmarkCard:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
