.FavoritesPage {
  color: var(--light-blue);
  background: var(--light-yellow);
  height: 100vh;
  padding-top: 80px;

  @media (max-width: 500px) {
    padding-bottom: 80px;
    padding-top: 40px;
  }

  .page-favorites__container {
    display: flex;
    flex-direction: column;

    @media (max-width: 500px) {
      min-height: calc(100vh - 170px);

      flex-direction: column;
      justify-content: space-around;
    }
  }

  .habits__info {
    background: linear-gradient(
      to bottom left,
      rgb(240, 188, 210) 0%,
      var(--white) 45%
    );
    border-radius: 20px;
    padding: 1.5vw;
    margin-top: 2.5vh;
    min-width: 30vw;

    @media (max-width: 501px) {
      width: 40vw;
      margin-top: 4vh;
    }

    & p {
      font-size: clamp(1.5vh, 2.2vw, 2vh);
    }
  }

  .habits__info:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }

  .page-favorites__decoration {
    background-color: var(--pink);
    border-radius: 30px 30px 0 0;
    min-height: 100vh;

    @media (min-width: 501px) and (max-width: 768px) {
      min-height: 100vh;
    }

    .bookmarks-title {
      margin-top: 2.5vh;
    }

    .link--bookmark {
      color: var(--light-blue);
      font-size: inherit;
    }
    .link--bookmark:hover {
      color: var(--gray);
    }

    .btn--logout {
      width: 94%;
      background-color: var(--blue);
      margin-top: 4vh;
      font-size: clamp(1.5vh, 3vw, 3.5vh);
    }

    .btn--logout:hover {
      background-color: var(--dark-blue);
    }
  }

  .habits {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.5vh;
  }

  .habits__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.3vh;
    margin: 1.5vh 2vw;
  }

  .btn--add {
    background-color: var(--pink);
    border: 0;
    padding: 1.5vh 2vh;
    color: var(--light-blue);
    font-size: clamp(1.5vh, 2vh, 2.5vw);
    margin: 1.5vh 1vw 5vh 0;
  }

  .btn--add:hover {
    background-color: var(--dark-pink);
  }

  & h2 {
    font-size: clamp(2.5vh, 3vw, 3.5vh);
    margin: 2.5vh 1vw 0;
    font-family: 'LilitaOne', sans-serif;
    color: var(--gray);
  }
}
