.LoginPage {
  color: var(--light-blue);
  background: var(--blue);
  height: 100vh;
  padding-top: 40px;

  @media (max-width: 500px) {
    padding-bottom: 80px;
    padding-top: 20px;
  }

  .page__container {
    display: flex;
    flex-direction: column;

    @media (max-width: 500px) {
      min-height: calc(100vh - 170px);

      flex-direction: column;
      justify-content: space-around;
    }
  }

  .page__decoration {
    background-color: var(--light-yellow);
    border-radius: 30px 30px 0 0;
    min-height: 100vh;
    margin-top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: 501px) and (max-width: 768px) {
      min-height: 100vh;
    }
  }

  .subtitle {
    font-size: clamp(4vh, 2vw, 3vw);
    margin: 2vh 0;
    font-family: 'LilitaOne', sans-serif;
    color: var(--gray);
  }

  .login-link {
    color: var(--gray);
  }

  .login-link:hover {
    color: var(--light-blue);
  }
}
