.LandingPage {
    background-color: var(--blue);
    padding: 3vw;
    padding-top: 100px;
    min-height: 100vh;
    color: #fff;
    line-height: 1;

    @media (min-width: 2000px) {
        min-height: 50vh;
    }

    @media (max-width: 500px) {
        padding-bottom: 120px;

        .btn {
            background-color: var(--pink);
            border: 0;
            padding: 2vh 3vh;
            color: var(--gray);
            font-size: 3vh;
            margin-top: 5vh;
            z-index: 1;
            width: 30%;
        }
    }

    & h2 {
        font-size: 25px;
    }

    & p {
        font-size: 20px;
        color: var(--light-yellow);
    }

    & img {
        max-width: 50%;
    }

    .Landing-page__buttons-wrapper {
        display: flex;
        justify-content: center;
        gap: 4vw;
    }

    & a {
        width: 40%;

        @media (max-width: 500px) {
            width: 45%;
        }
    }

    .btn {
        background-color: var(--pink);
        border: 0;
        padding: 2vh 3vh;
        color: var(--gray);
        font-size: 2vh;
        margin-top: 5vh;
        width: 100%;


        @media (max-width: 500px) {
            font-size: 2vh;
        }
    }
}