/* GENERAL
/* Remove the margin in all browsers. */

/* TODO add fonts */
@font-face {
  font-family: 'LilitaOne';
  src: url('./../public/fonts/LilitaOne-Regular.ttf') format('TrueType');
}

/* COLORS */
/* TODO add colors */

:root {
  --main-color: #e71477;
  --green: #41ac77;
  --violet: #484e79;
  --white: #f6f6f6;
  /* form figma */
  --pink: #e5b3c9;
  --blue: #64aac8;
  --lightblue: #0e181c;
  --gray: #6f6f6f;
  --light-yellow: #f1eaaa;
  --light-green: #9adaa1;
  --dark-green: #7bae82;
  /* media query sizes */
  --mobile-breakpoint: 500px;
  --tablet-breakpoint: 769px;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Arial', sans-serif;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-wrap: break-word;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 1vw; */
  flex-direction: column;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.5rem;
  font-weight: 600;
  font-size: clamp(0.4rem, 1.2vw, 2rem);
  line-height: 1.2;
  color: black;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--pink);
  border-radius: 47px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--blue);
}

.link {
  padding: 0;
  font: inherit;
  font-size: clamp(0.8vw, 1.2vw, 1.3vw);
  color: var(--white);
  overflow-wrap: anywhere;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.link.active {
  cursor: default;
  pointer-events: none;
  color: var(--light-green);
}

.title--uppercase {
  text-transform: uppercase;
}
